@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@400;700&family=Ramaraja&family=Roboto+Slab:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --app-font: 'Montserrat', sans-serif;
  --white-color: white;
  --grey: #BFBFC2;
  --light-grey: #DFDFE1;
  --light-gray: #CCC;
  --blue-color: #0D63BC;
  --light-blue: #A9BED5;
  --error-color: #E43040;
}
